body {
    background-image: linear-gradient(
        180deg,
        #fa0c97 5%,
        #00CED1 95%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position:relative;
}

main > section img {
    height: 300px;
    margin: 15px 0;
    width: 300px;
}

main > section button {
    display: flex;
    background-color: #fa0c97;
    border-radius: 4px;
    color: #00CED1;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}