body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(
        180deg,
        #fa0c97 5%,
        #00CED1 95%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position:relative;
}

main > section img {
    height: 300px;
    margin: 15px 0;
    width: 300px;
    border-radius: 8px;
    padding: 4px;
}

main > section button {
    display: flex;
    background-color: #fa0c97;
    border-radius: 8px;
    color: #00CED1;
    font-size: 18px;
    padding: 8px;
    width: 100%;
}

.dados{
    display: flex;
}

ul.tree {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0;
    vertical-align: top;
}

ul li p {
    display: inline-block;
}